[submodule "external/hooking"]
	path = external/hooking
	url = https://github.com/ThirteenAG/Hooking.Patterns.git
[submodule "external/inireader"]
	path = external/inireader
	url = https://github.com/ThirteenAG/IniReader.git
[submodule "external/injector"]
	path = external/injector
	url = https://github.com/thelink2012/injector.git
[submodule "external/ModUtils"]
	path = external/ModUtils
	url = https://github.com/CookiePLMonster/ModUtils.git
[submodule "external/Hooking"]
	path = external/Hooking
	url = https://github.com/elishacloud/Hooking/
[submodule "external/Logging"]
	path = external/Logging
	url = https://github.com/elishacloud/Logging
