[submodule "external/inireader"]
	path = external/inireader
	url = https://github.com/ThirteenAG/IniReader.git
[submodule "external/injector"]
	path = external/injector
	url = https://github.com/thelink2012/injector.git
[submodule "external/ModUtils"]
	path = external/ModUtils
	url = https://github.com/CookiePLMonster/ModUtils.git
[submodule "external/Logging"]
	path = external/Logging
	url = https://github.com/elishacloud/Logging
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/eHooking"]
	path = external/eHooking
	url = https://github.com/nipkownix/Hooking
